@font-face {
    font-family: Graphik-Medium;
    src: url(../font/Graphik-Medium.ttf);
}
@font-face {
    font-family: Graphik-Regular;
    src: url(../font/Graphik-Regular.woff);
}
@font-face {
    font-family: Theinhardt-Lt;
    src: url(../font/Theinhardt-Lt.woff);
}
@font-face {
    font-family: TiemposHeadline-Semibold;
    src: url(../font/TiemposHeadline-Semibold.woff);
}

/*  
Farben: #2B2C2E / #9FA2A7 / #27282A / #848689 / #3D3E41 / #fff
*/

*{
    margin: 0;
    padding: 0;
}


/* Header */
header{
    margin-bottom: 9.6vh;
    padding: 2vh 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color: #2B2C2E;
}
header nav{
    margin: 20.8px 0 0 21px;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline;
    font-family: Graphik-Regular;
    font-size: 1.15rem;
    margin: 0 14.7px;
}
header a{
    text-decoration: none;
    color: #2B2C2E;
    font-weight: 600;
    transition: opacity 0.5s;
}
header nav ul li a:hover{
    opacity: 60%;
}
header h1{
    margin: 3px 0 0 15px;
    font-family: TiemposHeadline-Semibold;
    font-size: 2.15rem;
}
header>a{
    margin: 6px 0 0 50px;
    padding: 10px 71px;
    font-family: Graphik-Medium;
    font-size: 1.45rem;
    letter-spacing: .2px;
    display: inline-block;
    border: 3px solid #3D3E41;
    border-radius: 5px;
    transition: background 1s, color 1s;
}
header>a:hover{
    background: #3D3E41;
    color: #ffffff;
}


/* Sections */
section:not(#hero){
    margin: 0 8%;
}
.eq-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Hero */
#hero{
    height: 100vh;
    text-align: center;
    background: url(../img/home_hero.png) bottom/contain no-repeat;
    font-family: Graphik-Regular;
}
#hero h2{
    padding-top: 3.9vh;
    font-size: 3.1rem;
    letter-spacing: 0.9px;
    color: #2B2C2E;
}


/* Price */
#price{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 22vh;
}
#price h3{
    font-family: Graphik-Medium;
    font-size: 1.7rem;
    line-height: 2.68rem;
    letter-spacing: .25px;
    margin: 2vh 50px 0 0;
    color: #2B2C2E;
}
#price div{
    padding-left: 8.4%;
}
#price h2{
    font-family: Theinhardt-Lt;
    font-size: 5.4rem;
    color: #2B2C2E;
}
#price p{
    width: 60%;
    margin-top: 8px;
    font-family: Theinhardt-Lt;
    font-size: 1.6rem;
    line-height: 1.85rem;
    letter-spacing: .3px;
    font-weight: 600;
    color: #9FA2A7;
}


/* Deliverables */
#deliverables{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 29vh 0 18vh;
}
#deliverables img{
    width: 95%;
    padding-top: 5px;
}
#deliverables h1{
    font-family: TiemposHeadline-Semibold;
    font-size: 4.8rem;
    padding-bottom: 44px;
    color: #2B2C2E;
}
#deliverables h2{
    font-family: Graphik-Medium;
    font-size: 1.9rem;
    letter-spacing: .6px;
    margin: 38px 0 28px;
    color: #2B2C2E;
}
#deliverables p{
    font-family: Theinhardt-Lt;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: .2px;
    font-weight: 600;
    color: #848689;
}


/* How-Who */
#how-who{
    margin-top: 25vh;
    background: #F1F1F4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#how-who div{
    padding: 7% 8% 0 10%;
}
#how-who h1{
    font-family: TiemposHeadline-Semibold;
    font-size: 4.3rem;
    color: #2B2C2E;
}
#how-who h1:nth-of-type(1){
    margin: 22px 0 16px;
}
#how-who h1:nth-of-type(2){
    margin: 24px 0 19px;
}
#how-who ol{
    margin-left: 53px;
    font-family: Theinhardt-Lt;
    font-size: 1.5rem;
    line-height: 1.85rem;
    font-weight: 600;
    color: #848689;
}
#how-who p{
    font-family: Theinhardt-Lt;
    font-size: 1.5rem;
    line-height: 1.85rem;
    font-weight: 600;
    color: #848689;
}
#how-who img{
    width: 98%;
    justify-self: flex-end;
}


/* Critique */
#critique{
    padding: 13vh 0 10.1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#critique h1{
    padding: 45px 0;
    font-family: TiemposHeadline-Semibold;
    font-size: 4.3rem;
    color: #2B2C2E;
}
#critique p{
    font-family: Theinhardt-Lt;
    font-size: 1.4rem;
    line-height: 2.7rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    color: #9FA2A7;
}
#critique .outer{
    margin-top: 16.8vh;
    width: 100%;
    background: url(../img/28.png) top/119% no-repeat;
}
#critique .inner{
    height: 67.5vh;
    width: 100%;
    margin-bottom: 4vh;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    background: url(../img/home_conversion.png) bottom right/49.7% no-repeat;
}
#critique h2{
    margin-left: 16.5%;
    margin-bottom: 10vh;
    font-family: Graphik-Medium;
    font-size: 1.5rem;
    line-height: 3.5rem;
    letter-spacing: 1.2px;
    color: #9FA2A7;
}
#critique img{
    width: 100%;
}


/* Questions */
#questions{
    padding: 13.3vh 0 6.8vh;
    text-align: center;
    border-top: 2px solid #9FA2A7;
}
#questions h1{
    font-family: TiemposHeadline-Semibold;
    font-size: 4.3rem;
    color: #2B2C2E;
    margin-bottom: 6vh;
}
#questions img{
    height: 184px ;
}
#questions p{
    font-family: Graphik-Medium;
    display: inline;
    font-size: 1.35rem;
    color: #9FA2A7;
}
#questions a{
    color: #2B2C2E;
    text-decoration: none;
    transition: opacity 0.5s;
}
#questions a:hover{
    opacity: 60%;
}